
/* Attributions */
/* Lightbox code (HTML, CSS, JS) all from W3 Schools:https://www.w3schools.com/howto/howto_js_lightbox.asp */


/* Custom Fonts */


@font-face {
    font-family: 'Tiltortion';
    src: url('./webfont-tiltortion/Tiltortion.woff2') format('woff2'),
         url('./webfont-tiltortion/Tiltortion.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    /* font-display: swap; */
}



/* End of Custom Fonts  */


::selection {
    background: #ff4190;
  }


body{
    /* background-color: #262626; */
    background-color: #0d0d0d;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: auto;
    cursor: url('Heart-Cursor.png'), auto;
}

h1{
    color: white;
    font-family: "Tiltortion";
    overflow-wrap: break-word;
    font-size: 6rem;
    font-weight: 300;
}

h2{
    color: white;
    font-family: "Tiltortion";
    font-size: 3.5rem;
    font-weight: 300;
    white-space: nowrap;
}

h3{
    color: white;
    font-family: "Tiltortion";
    font-size: 1.8rem;
    font-weight: 300;
}

h4{
    color: white;
    font-family: "Tiltortion";
    font-size: 1.5rem;
    font-weight: 300;
}

p{
    color: white;
    font-family: "Chakra Petch", sans-serif;
    overflow-wrap: break-word;
    font-size: 1.3rem;
    font-weight: 400;
    margin: auto;
    text-align: left;
}

.current-location{
    /* font-size: 2.5rem;
    font-family: "Tiltortion"; */
    text-align:center;
    color:#fc9cc4
}

hr{
    color: #dfdfdf;
    width: 100%;
}

.info-btn{
  border-radius: 3rem;
  font-family: Tiltortion;
  font-size: 1.5rem;
  margin:0.5rem;

}

.btn-container{
  text-align: center;
}

.map-text{
    margin: bottom -10px;
    align-items: center;
}

#map-title{
  font-family: "Tiltortion";
  font-size:2.2rem;
}

/* BREAKPOINTS FOR HEADINGS */

@media (max-width: 770px){
    h1{
        font-size: 3.5rem;
    }
    h2{
      font-size: 1.8rem;
    }

  }
  
  @media (min-width: 771px) and (max-width: 992px){
      h1{
          font-size: 4.5rem;
      }

      h2{
        font-size: 2.5rem
      }
      /* h3{
        font-size:1.4rem
      } */
  }
  

  
/* Images */
img{
    /* width: 70%; */
    padding: 2rem;
}

.sketchbook-page{
    width: 85%;
    flex-direction: column;
}

#location-pin{
  padding:15px;
  margin:10px;
  width:40px;
}

.sticker{
  margin: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    /* max-width: 50%; */
    /* padding: 10px 10px;
    margin: 4px 0px; */

  }

  .current-location-container{
    background-color:black;
    border-radius: 1rem;
    /* width:85%; */
    margin: 10px 20px;
    padding:20px;
    border-color:#ff4190;
    border-width: 0.5rem;
  }

  .avatar{
    padding:5px 20px;
  }

  .map{
    margin: auto;
    padding:0.5rem;
  }



/* Images end */

footer{
    position: relative;
    padding-top: 5rem;
    width: 100%;
    /* height: 2.5rem; */
    margin:auto;
}

.about{
    /* width: 45%; */
    margin: 30px;
    /* margin: top 30px; */
}

.socials{
    font-family: "Chakra Petch";
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    gap: 20%;
    align-items: center;
    justify-content: left;
}

.member-socials{
    display: flex;
    flex-direction: column;
    text-align: left;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: pink;
}


@media screen and (max-width: 768px){
    .map{
        flex-direction: column-reverse; 
    }
    .filler{
        display:none;
    }


  .sketchbook-page{
    width: 95%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: auto;

  }
}

/* Text Marquee Styling */
.marquee {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
}

.marquee__inner {
    /* changed from fit-content to max-content so text stays on one line */
    width: max-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
}

.marquee span {
    font-size: 10vw;
    padding: 2rem;
}

.marquee:hover .marquee__inner {
    animation-play-state: running;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

/* End of Marquee Styling */



/* Lightbox */

.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 25%;
  }
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.773);
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    /* background-color: #ff419047; */
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1000px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
    /* Position the "prev button" to the left */
    .prev {
        left: 0;
        border-radius: 3px 0 0 3px;
      }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.197);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 1rem;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    /* background-color: #ff419047; */
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
/*  */



/* round text animation */


  .rounded-text {
    width: 25.625rem;
    height: 25.625rem;
    text-transform: uppercase;
    transform: rotate(-103deg);
    color: #fff;
    font-weight: bold;
    z-index: -1;
    font-family: Raleway;
  }
  .white {
    fill: #fff;
  }
  .yellow {
    fill: #ffda2a;
  }
  .green {
    fill: #00d3b9;
  }
  @keyframes rotating {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  .rotating {
    animation: rotating 12s linear infinite;
  }
  @keyframes coloring {
    0% {
      fill: #fff;
    }
    35% {
      fill: #ffda2a;
    }
    75% {
      fill: #00d3b9;
    }
    100% {
      fill: #fff;
    }
  }
  .coloring {
    animation: coloring 12s linear infinite;
  }

  
  /* end  */





