@font-face {
    font-family: 'Tiltortion';
    src: url('Tiltortion.woff2') format('woff2'),
        url('Tiltortion.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

